<html>
  <body>
    <h2>Registeration </h2>
    <br>
    <br>
    <form action="/register" method="POST">
      <label for="user_fname">First name:</label>
      <br>
      <input type="text" id="user_fname" name="user[fname]" placeholder="John">
      <br>
      <br>
      <label for="user_lname">Last name:</label>
      <br>
      <input type="text" id="user_lname" name="user[lname]" placeholder="Doe">
      <br>
      <br>
      <label for="user_email">Email id:</label>
      <br>
      <input type="text" id="user_email" name="user[email]" placeholder="123@gmail.com">
      <br>
      <br>
      <label for="user_password">Password:</label>
      <br>
      <input type="text" id="user_password" name="user[password]" placeholder="123">
      <br>
      <br>
      <label for="user_password_confirmation">Confirm Password:</label>
      <br>
      <input type="text" id="user_password_confirmation" name="user[password_confirmation]" placeholder="123">
      <br>
      <br>
      <button type="submit">Register</button>
    </form> 
  </body>
</html>

